.loader {
  width: 200px;
}

.ui-login {
  padding-top: 3em;
}

.friend-list {

}

.friend-list-avatar {
  float: left;
  height: 2em;
  margin-left: -10px;
  overflow: hidden;
  margin-top: -4px;
  margin-right: 6px;
}

.friend-list-avatar:after {
  font-family: FontAwesome;
  content: "\f110";

  display: block;
  width: 2em;
  height: 2em;
  line-height: 2em;

  text-align: center;
  
  -webkit-animation: fa-spin 2s infinite linear;
  -o-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.friend-list-avatar img {
  width: auto;
  height: 100%;
}

.message {

}

.message-text {
  width: auto;
  overflow: auto;
}

.message-text textarea {
  width: 100%;

  resize: none;
}

.message-toolbox {
  float: right;
  width: 128px;
  padding-left: 15px;
}

/* Conversation */
.conversation {

}

.conversation-item {
  padding-bottom: 1em;
}

.message-from-user {
  display: block;
  width: 64px;
  height: 64px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  overflow: hidden;
}

.message-from-user.pull-left {
  margin-right: 1em;
}

.message-from-user.pull-right {
  margin-left: 1em;
}

.message-from-user img {
  max-width: 100%;
  height: auto;
}

.message-text {
  overflow: auto;
}

.green {
  color: chartreuse;
}

/* =======================
 * BOOTSTRAP REDEFINED
 * =======================*/
.navbar-center {
  float: none;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}