html, body {
  font-family: 'Ubuntu', sans-serif;
}

.loader {
  width: auto;
  text-align: center;

  font-size: 3em;
}

.ui-login {
  padding-top: 3em;
}

.friend-list {

}

.friend-list-avatar {
  position: relative;
  float: left;
  height: 2em;
  margin-left: -10px;
  overflow: hidden;
  margin-top: -4px;
  margin-right: 6px;
}

.friend-list-avatar:after {
  font-family: FontAwesome;
  content: "\f110";

  display: block;
  width: 2em;
  height: 2em;
  line-height: 2em;

  text-align: center;
  
  -webkit-animation: fa-spin 2s infinite linear;
  -o-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.friend-list-avatar img {
  width: auto;
  height: 100%;
}

.friend-list-avatar .friend-list-indicator {
  position: absolute;
  left: 3px;
  top: 3px;

  line-height: 1;
  font-size: 0.5em;
}

.message {

}

.message-text {
  width: auto;
  overflow: auto;
}

.message-text textarea {
  width: 100%;

  resize: none;
}

.message-toolbox {
  float: right;
  width: 128px;
  padding-left: 15px;
}

/* Conversation */
.conversation {
  height: 75vh;
  overflow: scroll;
}
.conversation-item {
  padding-bottom: 1em;
}

.message-from-user {
  display: block;
  width: 64px;
  height: 64px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  overflow: hidden;
}

.message-from-user.pull-left {
  margin-right: 1em;
}

.message-from-user.pull-right {
  margin-left: 1em;
}

.message-from-user img {
  max-width: 100%;
  height: auto;
}

.message-text {
  overflow: auto;
}

.message-created-at {
  font-size: 0.7em;
  color: #ccc;
}

.green {
  color: chartreuse;
}

/* =======================
 * BOOTSTRAP REDEFINED
 * =======================*/
.navbar-header .btn-group.pull-right {
  margin-right: 15px;
}

.navbar-brand {
  font-weight: 700;
}
.navbar-center {
  float: none;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.navbar-right .visible-xs-inline-block:last-child {
  float: right;
  margin-left: auto;
  margin-right: 15px;
}

.panel-dark {
  background: #111;

  border: 1px solid #000;
}

.panel-dark .panel-body {
  color: white;
}

.panel-aside {
  border: none;
}

.panel-aside .panel-heading {
  border-bottom: 1px solid #ccc;
  padding-left: 1px;
  padding-right: 1px;
}
/* =======================
 * OFF-CANVAS
 * =======================*/
.off-canvas {
}

.off-canvas > main:after {
  content: "";

  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgb(0,0,0);
  opacity: 0;

  pointer-events: none;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}

.off-canvas.swiped-left > main:after {
  opacity: 0.7;
}

.off-canvas > aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;

  display: block;
  width: 100%;

  overflow: auto;

  -webkit-transition: transform 300ms ease-out;
  -moz-transition: transform 300ms ease-out;
  -ms-transition: transform 300ms ease-out;
  -o-transition: transform 300ms ease-out;
  transition: transform 300ms ease-out;

  z-index: 1000;
}

.off-canvas.swiped-left > aside {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);

  margin-left: 30px;

  background: white;
  -webkit-box-shadow: -5px 0px 5px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: -5px 0px 5px 0 rgba(0,0,0,0.3);
  box-shadow: -5px 0px 5px 0 rgba(0,0,0,0.3);
}

.off-canvas > aside > .container {
  height: 85vh;
  overflow: auto;
}