<div class="ui-login row">
  <div class="col-md-6 col-md-push-3">
    <h1>LOGIN</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form">
          <div class="form-group">
            <label for="user-id" class="control-label">User ID</label>
            <input type="text" ng-model="user_id" class="form-control" id="user-id">
          </div>
          <div class="form-group">
            <label for="username" class="control-label">Your friendly name</label>
            <input type="text" ng-model="username" class="form-control" id="username">
          </div>
          <div class="form-group">
            <button class="btn btn-success center-block" ng-click="login()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>